extends account 

block nav-item 
  +navItem('/account/settings', 'Settings', 'settings')
  +navItem('/account/password', 'Password', 'lock', true)
  +navItem('#', 'Bookings', 'briefcase')
  +navItem('#', 'Reviews', 'star')
  +navItem('#', 'Billing', 'credit-card')

block account-section 
  .user-view__form-container
    h2.heading-secondary.ma-bt-md Change Your Password
    form#changePasswordForm.form.form-user-settings
      .form__group
        label.form__label(for='password-current') Current password
        input#currentPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group
        label.form__label(for='password') New password
        input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.ma-bt-lg
        label.form__label(for='password-confirm') Confirm password
        input#passwordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
      .form__group.right
        button.btn.btn--small.btn--green(type='submit') change password
  .line &nbsp;

  .user-view__form-container
    h2.heading-secondary.ma-bt-md Reset Your Password
    form#accountResetPassword.form.form-user-settings
      .form__group
        label.form__label(for='resetPasswordEmail') Email address
        input#resetPasswordEmail.form__input(type='text', required, value=`${user.email}` readonly)
      .form__group.right
        button.btn.btn--small.btn--green(type='submit') send token