doctype html
html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')

      title Tours App | #{title}
      
      link(rel='shortcut icon', href='/img/favicon.png', type='image/png')
      link(rel='stylesheet', href='/css/style.css')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

  body
    // Header
    include _header
    
    // Main
    block content
      h1(style='text-align: center; padding: 2rem 0') Loading ...

    // Footer
    include _footer

    // Scripts
    script(src='/javascripts/dist/main.js') 
