extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Trouble logging in?
      form.form(id='forgetPasswordForm')
        .form__group.ma-bt-md
          label.form__label(for='email') Email address
          input.form__input(id='forgetPasswordEmail' type='email' placeholder='you@example.com' required='true' autocomplete='off' value='erfan@gmail.com')
        .form__group
          button.btn.btn--green(type='submit') Send login link