extends base

block content 
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your password
      form.form(id='resetPasswordForm')
        .form__group
          label.form__label(for='newPassword') New password
          input#newPassword.form__input(type='password', placeholder='••••••••', required  minlength='8' value='user1234')
        .form__group.ma-bt-md
          label.form__label(for='newPasswordConfirm') Confirm password
          input#newPasswordConfirm.form__input(type='password', placeholder='••••••••', required, minlength='8', value='user1234')
        .form__group
          button.btn.btn--green(type='submit') Reset password